<mat-toolbar class="bg-primary border-bottom border-success-subtle">
    <div class="row w-100">
        <div class="col-12">
            <div class="d-flex justify-content-between text-white">
                <a class="nav-link" aria-current="page" href="/default">
                    <h1>FindPets</h1>
                    <div class="text-center" style="font-size: 8px !important; margin-top: -16px !important;">
                        <span>Encontre seu pet !</span>
                    </div>
                </a>

                <div class="d-flex align-items-center">
                    <a class="nav-link" aria-current="page" href="default/lostAnimalReport">
                        <small style="font-size: 10px;">Perdi meu pet</small>
                    </a>

                    <a class="nav-link ms-4" aria-current="page" href="default/abandonedAnimalReport">
                        <small style="font-size: 10px;">Encontrei um pet</small>
                    </a>

                    <a class="nav-link ms-4" aria-current="page" href="default/denunciation">
                        <small style="font-size: 10px;">Denunciar maus-tratos</small>
                    </a>
                </div>
            </div>
        </div>
    </div>

</mat-toolbar>
<router-outlet></router-outlet>