<div class="p-5 px-5 mx-5">
    <mat-card class="p-4 mx-5 bg-warning" style="cursor: pointer;" (click)="navigateToLostAnimalReports()">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <h1 class="my-5 py-2"><strong>Perdi meu pet</strong></h1>
            </div>
        </div>
    </mat-card>

    <mat-card class="p-4 mx-5 bg-info mt-4" style="cursor: pointer;" (click)="navigateToAbandonedAnimalReports()">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <h1 class="my-5 py-2"><strong>Encontrei um pet</strong></h1>
            </div>
        </div>
    </mat-card>

    <mat-card class="p-4 mx-5 bg-success mt-4" style="cursor: pointer;">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <h1 class="my-5 py-2"><strong>Procurar pet</strong></h1>
            </div>
        </div>
    </mat-card>
</div>