<div class="m-2">

    <div class="d-flex justify-content-between align-items-center">
        <h1>Denunciar maus-tratos</h1>
    </div>

    <mat-divider></mat-divider> 

    <div class="row mt-3">
        <div class="col-12">
            <p>
                Quando o assunto é denúncia de maus-tratos ou crueldade contra animais, o Brasil possui legislação
                pertinente e autoridades competentes que são responsáveis pela manutenção da lei e punição de crimes

                Caso você presencie maus-tratos a animais de quaisquer espécies, sejam domésticos, domesticados,
                silvestres ou exóticos – como <strong>abandono, envenenamento, presos constantemente em correntes ou cordas
                muito curtas, manutenção em lugar anti-higiênico, mutilação, presos em espaço incompatível ao porte do
                animal ou em local sem iluminação e ventilação, utilização em shows que possam lhes causar lesão, pânico
                ou estresse, agressão física, exposição a esforço excessivo e animais debilitados (tração), rinhas, etc</strong>.
                –, vá à delegacia de polícia mais próxima para lavrar o Boletim de Ocorrência (BO), ou compareça à
                Promotoria de Justiça do Meio Ambiente.

                A denúncia de maus-tratos é legitimada pelo Art. 32, da Lei Federal nº. 9.605, de 12.02.1998 (Lei de
                Crimes Ambientais) e pela Constituição Federal Brasileira, de 05 de outubro de 1988.

                É possível denunciar também ao órgão público competente de seu município, para o setor que responde aos
                trabalhos de vigilância sanitária, zoonoses ou meio ambiente. Lembrando que cada município tem
                legislação diferente, portanto caso esta não contemple o tema maus tratos pode utilizar a Lei Estadual
                ou ainda recorrer a Lei Federal.
            </p>
            <h2><strong>Como posso denunciar os maus-tratos de um animal ?</strong></h2>
        </div>
    </div>
</div>